<div class="section" id="contact">
  <!-- style="background-image: url('assets/images/connect.jpg');" -->
  <div class="cc-contact-information">
    <div class="container">
      <div class="cc-contact">
        <div class="row">
          <div class="col-md-9">
            <div class="card mb-0" data-aos="zoom-in">
              <div class="h4 text-center title">Contact Me</div>
              <div class="row">
                <div class="col-md-6">
                  <div class="card-body">
                    <form #f="ngForm" (ngSubmit)="f.form.valid ; f.resetForm()" name="form" novalidate>
                      <div class="p pb-3">
                        <strong>Feel free to contact me </strong>
                      </div>
                      <div class="row mb-3">
                        <div class="col">
                          <div class="input-group">
                            <input #name #name="ngModel" [(ngModel)]="model.name" [ngClass]="{ 'is-invalid': f.submitted && name.invalid }" class="form-control"
                                   name="name" placeholder="Name"
                                   required type="text"/>
                          </div>
                        </div>
                      </div>
                      <div class="row mb-3">
                        <div class="col">
                          <div class="input-container">
                            <input #subject #subject="ngModel" [(ngModel)]="model.subject" [ngClass]="{ 'is-invalid': f.submitted && subject.invalid }" class="form-control"
                                   name="subject" placeholder="Subject"
                                   required type="text"/>
                          </div>
                        </div>
                      </div>
                      <div class="row mb-3">
                        <div class="col">
                          <div class="input-group">
                            <input #email #email="ngModel" [(ngModel)]="model.email" [ngClass]="{ 'is-invalid': f.submitted && email.invalid }" class="form-control"
                                   name="email" pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$"
                                   placeholder="E-mail"
                                   required type="text"/>
                          </div>
                        </div>
                      </div>
                      <div class="row mb-3">
                        <div class="col">
                          <div class="form-group">
                              <textarea #message #message="ngModel" [(ngModel)]="model.message" [ngClass]="{ 'is-invalid': f.submitted && message.invalid }"
                                        class="form-control" name="message"
                                        placeholder="Your Message"
                                        required></textarea>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col">
                          <button (click)="onSubmit(name.value, subject.value, email.value, message.value)" class="btn bg-primary" style="font-weight: bold;color: blanchedalmond;"
                                  type="submit"> Send
                          </button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="card-body">
                    <p class="mb-0">
                      <strong>Phone</strong>
                    </p>
                    <p class="pb-2">+91 7055468995</p>
                    <p class="mb-0">
                      <strong>Email</strong>
                    </p>
                    <p>ankit.sharma199803@gmail.com</p>
                    <p style="margin-top: 40px">
                    <a href="https://info.flagcounter.com/By4O"><img src="https://s11.flagcounter.com/count2/By4O/bg_FFFFFF/txt_000000/border_CCCCCC/columns_2/maxflags_10/viewers_0/labels_0/pageviews_0/flags_0/percent_0/" alt="Flag Counter" border="0"></a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-snotify class="material"></ng-snotify>


