<div class="section" id="publications">
  <div class="container cc-education">
    <div class="h4 text-center mb-4 title">Projects</div>
    <div class="card">
      <div class="row">
        <div class="col-md-3"
             data-aos="fade-right"
             data-aos-duration="500"
             data-aos-offset="50"
             style="text-align: center;"
        >
          <div class="card-body" style="margin: auto;">

            <a href="https://github.com/beingmartinbmc/SortMe"
               target="_blank">
              <img alt="SortMe" border="0" height="200" src="assets/images/SortMe.gif" width="200">
            </a>
          </div>
        </div>
        <div
          class="col-md-9"
          data-aos="fade-left"
          data-aos-duration="500"
          data-aos-offset="50">
          <div class="card-body">
            <div class="h5 mb-3">SortMe</div>


            <p align="justify">
              Part of Algorithmic Visualization.
              Visualizing various sorting algorithms.
              Algorithms included BubbleSort, SelectionSort, InsertionSort, MergeSort, QuickSort, and HeapSort
            </p>
            <b> One can clearly observe the difference in the time taken by O(n²) and O(nlogn) Comparisons</b>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="row">
        <div class="col-md-3"
             data-aos="fade-right"
             data-aos-duration="500"
             data-aos-offset="50"
             style="text-align: center;"
        >
          <div class="card-body" style="margin: auto;">

            <a href="https://github.com/beingmartinbmc/LearnTrees"
               target="_blank">
              <img alt="SortMe" border="0" height="200" src="assets/images/trees.gif" width="400">
            </a>
          </div>
        </div>
        <div
          class="col-md-9"
          data-aos="fade-left"
          data-aos-duration="500"
          data-aos-offset="50">
          <div class="card-body">
            <div class="h5 mb-3">LearnTrees</div>


            <p align="justify">
              Part of Algorithmic Visualization.
              Learning application for datastructures and algorithms.
              It provides the visualisation for trees <b>BST, AVL, and RB</b>
            </p>
            <b> Helps to figure out the Rotations performed in a Data Tree</b>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="row">
        <div class="col-md-3"
             data-aos="fade-right"
             data-aos-duration="500"
             data-aos-offset="50"
             style="text-align: center;"
        >
          <div class="card-body" style="margin: auto;">

            <a href="https://github.com/beingmartinbmc/AutocompleteEngine"
               target="_blank">
              <img alt="SortMe" border="0" height="200" src="assets/images/trie.gif" width="400">
            </a>
          </div>
        </div>
        <div
          class="col-md-9"
          data-aos="fade-left"
          data-aos-duration="500"
          data-aos-offset="50">
          <div class="card-body">
            <div class="h5 mb-3">Autocomplete Engine</div>


            <p align="justify">
              Implemented an auto-complete feature from scratch using Tries.
              Used a word file around (900K-1M) and provided real time suggestions.
              Moving a step ahead, built a spell checker <b>(threshold level 2) </b>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
