<div class="section" id="education">
    <div class="container cc-education">
        <div class="h4 text-center mb-4 title">Education</div>
            <div class="card">
                <div class="row">
                    <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body cc-education-header">
                            <p>2016-2020</p>
                        <div class="h5">Bachelor Degree</div>
                        </div>
                    </div>
                    <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body">
                            <div class="h4">Bachelor of Technology in Computer Science</div>
                                <h4 class="category">GLA University</h4>
                                <ul>
                                        <li>Completed BTech in Computer Science with <b>8.03 GPA</b>.</li>
                                </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="row">
                    <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body cc-education-header">
                            <p>2016</p>
                        <div class="h5">Intermediate</div>
                        </div>
                    </div>
                    <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body">
                            <div class="h4">Physics, Chemistry, Maths </div>
                            <h4 class="category">Ess Ess Convent School (CBSE)</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="row">
                    <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body cc-education-header">
                            <p>2014</p>
                        <div class="h5">High School</div>
                        </div>
                    </div>
                    <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body">
                            <div class="h5">Science and Computers</div>

                            <h4 class="category">St. Conrad's Inter College (ICSE)</h4>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="card">
                <div class="row">
                    <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body cc-education-header">
                            <p>2008-2009</p>
                        <div class="h5">Sedcondary School</div>
                        </div>
                    </div> -->
                    <!-- <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body">
                            <div class="h4">Sedcondary School(KSEEB)</div>
                                <h4 class="category">Sri Adhichunchanagiri English School Hassan</h4>
                                <ul>
                                        <li>Completed  SSLC with <b>65.6%</b>.</li>
                                </ul>
                        </div>
                    </div> -->
                <!-- </div>
            </div> -->
    </div>
</div>
