<div class="profile-page">
  <div class="wrapper">
    <div class="page-header page-header-small" filter-color="orange">
<!--      <div class="page-header-image" data-parallax="true"-->
<!--           style="background-image: url('assets/images/introduction.jpg');">-->
<!--      </div>-->
      <!--      </div>-->
      <div class="container">
        <div class="content-center">
          <div class="profile-image">
            <a href="#">
              <img alt="Profile Image" src="assets/images/ankit.jpg"/>
            </a>
          </div>
          <div class="h2 title">Ankit Sharma</div>
          <p class="category text-white">Software Developer</p>
          <a class="btn bg-primary smooth-scroll mr-2" data-aos="zoom-in" data-aos-anchor="data-aos-anchor"
             href="#contact">Hire Me</a>
          <a class="btn bg-primary smooth-scroll mr-2"
             data-aos="zoom-in" data-aos-anchor="data-aos-anchor"
             href="https://drive.google.com/file/d/1QkKUwjBXfw8MGR2V8z8ryOqA5q6pEfjw/view?usp=sharing"
             target="_blank">Download CV</a>
        </div>
      </div>
      <div class="section">
        <div class="container">
          <div class="button-container">


            <a class="btn btn-default btn-round btn-lg btn-icon"
               href="https://www.linkedin.com/in/ankit-sharma-5b1b35158/" rel="tooltip" target="_blank"
               title="Follow me on Linkedin">
              <!-- <i class="fa fa-linkedin"></i> -->
              <img alt=LinkedIn src="assets/images/linked.png">
            </a>

            <a class="btn btn-default btn-round btn-lg btn-icon" href="https://github.com/beingmartinbmc"
               rel="tooltip" style="background-color: white;" target="_blank" title="Fork me on Github">
              <!-- <i class="fa fa-github"></i> -->
              <img alt="Github" src="assets/images/github.png">
            </a>

            <a class="btn btn-default btn-round btn-lg btn-icon"
               href="https://stackoverflow.com/users/7972621/ankit-sharma" rel="tooltip" target="_blank"
               title="Check my answers on Stackoverflow">
              <!-- <i  class="fa fa-instagram"></i> -->
              <img alt="Stackoverflow" src="assets/images/stackoverflow.png">
            </a>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
